{% extends "layout_before_login.html" %}

{% block header %}
<link rel="stylesheet" href="{{url_for('static', filename='register.css')}}">
{% endblock %}
    
{% block body %}
<div class="container">
  <div class="row" id = "register-container">    
    <div class="col-xs-12 col-md-12 col-lg-12">
      <h1>Sign up with your nickname</h1>
    </div>

    <div class="col-xs-12 col-md-12 col-lg-12">
      <form id = "register-form" action="{{ url_for('register')}}" method="POST">
          <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input type="name" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your nickname">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <button type="submit" class="register-btn">Sign up</button>
      </form>
    </div>
    <div class="error">
        {{errorMsg}}
    </div>
  </div>
</div>
{% endblock %}